<ion-header>
  <ion-toolbar>
    <ion-title>Actividad de Mejora</ion-title>

    
  <ion-buttons slot="end">
    <ion-buttons (click)="openAlert()">
        <ion-icon  slot="icon-only" name="add-circle"></ion-icon>
    </ion-buttons>
   </ion-buttons>
   
  </ion-toolbar>


</ion-header>

<ion-content>

  
  <ion-list>
    <ion-item-sliding *ngFor="let task of tasks; let index = i">
      <ion-item>
        <ion-label>{{ task.descripcion}}</ion-label>
        <ion-label>{{ task.fecha}}</ion-label>
      </ion-item>
      
      

    </ion-item-sliding>


    



  </ion-list>


 

  

  

</ion-content>


