<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title text-center>
      Home
    </ion-title>

    <ion-buttons slot="end">
      <ion-buttons  routerLink="/home">
          <ion-icon  slot="icon-only" name="person-circle"></ion-icon>
      </ion-buttons>
     </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <ion-card>
     <img src="assets/img/home.jpg" />

    <ion-card-header>
      <ion-card-title>No mas accidentes</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      En la última década, han aumentado los índices de accidentabilidad, 
      especialmente en las empresas del rubro industrial, minero y construcción
    </ion-card-content>
  </ion-card>


  

  <ion-card>
    <img src="assets/img/home2.jpg" />

   <ion-card-header>
     <ion-card-title>Cumplimiento a Normativa</ion-card-title>
   </ion-card-header>
 
   <ion-card-content>
    muchas empresas se ven en la obligación de contratar asesoría profesional,
     lo cual representa un costo elevado y fomenta la disminución o la no implementación 
     de medidas necesarias para la seguridad
   </ion-card-content>
 </ion-card>

 <ion-card>
  <img src="assets/img/home3.jpeg" />

 <ion-card-header>
   <ion-card-title>Profesionales</ion-card-title>
 </ion-card-header>

 <ion-card-content>
  Un grupo de profesionales, ha fundado una compañía de 
  asesorías en prevención de riesgos laborales la cual cuenta con amplio conocimiento
  y esta con muchas ganas de trabajar todos juntos
 </ion-card-content>
</ion-card>
  

</ion-content>
